<!-- create a form form students database -->

<form method="post" (ngSubmit)="onSubmit()">
  <h1>Student Registration</h1>
  <div class="form-group">
    <label for="reg">Register Number</label>
    <input type="text" class="form-control" [(ngModel)]="formData.reg" id="reg" name="reg"
      placeholder="Enter Register Number" required>
  </div>
  <div class="form-group">
    <label for="fname">First Name</label>
    <input type="text" class="form-control" id="fname" name="fname" [(ngModel)]="formData.fname"
      placeholder="Enter First Name" required>
  </div>
  <div class="form-group">
    <label for="lname">Last Name</label>
    <input type="text" class="form-control" id="lname" name="lname" [(ngModel)]="formData.lname"
      placeholder="Enter Last Name" required>
  </div>
  <div class="form-group">
    <label for="dob">DOB</label>
    <input type="text" class="form-control" id="dob" name="dob" [(ngModel)]="formData.dob"
      placeholder="Enter DOB as DDMMYYYY" required>
  </div>
  <div class="form-group">
    <label for="gender">Gender</label>
    <input type="text" class="form-control" id="gender" name="gender" [(ngModel)]="formData.gender"
      placeholder="Enter Gender" required>
  </div>
  <div class="form-group">
    <label for="contact">Contact Number</label>
    <input type="text" class="form-control" id="contact" name="contact" [(ngModel)]="formData.contact"
      placeholder="Enter Contact Number" required>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

  <!-- <button type="button" class="btn btn-success" (click)="setUpdate(StudentItem)">Edit</button>
<button type="button" class="btn btn-danger" (click)="setDelete(StudentItem)">Delete</button> -->

</form>